.projects{
  margin-bottom: 90px;
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }
  &-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
  }
}