@import "../../breakpoints.scss";

.about {
  padding: 75px 0 95px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 50%;     
      @include md{
        width: 100%;
      } 
    }
    @include md{
      flex-direction: column-reverse;
    }
  }
  &-content {
    flex-basis: 40%;
    @include md{
      margin-bottom: 30px;
    }
  }
  &__text {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 35px;
    @include lg{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  &__link{
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 700;
    &:hover{
      text-decoration: underline;
    }
    @include lg{
      font-size: 20px;
      line-height: 24px;
    }
  }
  @include lg{
    padding: 40px 0;
  }
  @include md{
    padding: 30px 0;
    text-align: center;
  }
}
