.intro {
  &-left {
    width: 45%;
    padding: 138px 155px 138px 100px;
    background: linear-gradient(
      91.1deg,
      rgba(244, 246, 245, 0.9) -7.89%,
      rgba(255, 255, 255, 0.9) 132.55%
    );
  }
  &__title {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  &__text {
    font-weight: 200;
    font-size: 28px;
    line-height: 39px;
  }
}
