@import '../../breakpoints.scss';

.testimonial{
  margin-bottom: 65px;
  .section-title{
    text-align: center;
    margin-bottom: 80px;
    @include lg{
      margin-bottom: 60px;
    }

    @include md{
      margin-bottom: 40px;
    }

    @include sm{
      margin-bottom: 20px;
    }
  }

  @include md{
    margin-bottom: 15px;
  }
}