@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "./breakpoints.scss";

a{
  color: inherit;
}

ul{
  list-style: none;
}

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
	padding: 0;
	margin: 0;
  color: #2F2E2E;
  font-family: 'Inter', sans-serif;
}

.container-bg{
  max-width: 1450px;
  padding: 0 5px;
  margin: 0 auto;
  @include sm{
    padding: 0;
  }
}

.container{
  max-width: 1250px;
  padding: 0 5px;
  margin: 0 auto;
  @include sm{
    padding: 0;
  }
}

.section-title{
  font-size: 48px;  
  line-height: 60px;
  @include lg{
    font-size: 36px;
    line-height: 48px;
  }
  @include md{
    font-size: 32px;
  }
}